doctype html
html
  head
    meta(charset="utf-8")
    title 美女 Lu lu
    link(rel="stylesheet", href="http://g.tbcdn.cn/thx/cube/1.2.1/neat-min.css")
    link(rel="stylesheet", href="../css/base.css")
    link(rel="stylesheet", href="../css/fonts.css")
    link(rel="stylesheet", href="../css/screen.css")
    script(type="text/javascript", src="../js/socket.io.min.js")
    script(type="text/javascript", src="../js/qrcode.min.js")
  body
    main
      h1(class="title") 一起撸一撸
      div(class="game-box")
        div.start-box
          canvas(id="qrcode")
          input(id="btn", class="btn-start" type="button", value="开始游戏")
        div(id="J_game_canvas" class="game-canvas")
            .lulu
                .icon-body
                .icon-eye
                .icon-eye2
                .icon-nose
                .icon-hotdog
                <!-- 头发 -->
                .icon-hair
                <!-- 内衣 -->
                .icon-underwear
                <!-- 上衣 -->
                .icon-clothes
                <!-- 裤子 -->
                .icon-pants
        .progress-box
          div(class="progress-value") 100%
          .progress-bar
            progress(id="progress" value="200" max="200")
        div.start-box
    .dialog.over(style="display:none")
        h3 GAME OVER
        .error
           p 服务器出现了一个故障!
           <button id="lu-btn" class="btn">谁撸的最快？</button>
        .rank(style="display:none;")
          ol(class="")
            li(class="rank-list")
                .bd
                  p(class="title") （最快撸手）
                  p(class="user") 桑老师
                p(class="num") 1
            li(class="rank-list")
                .bd
                  p(class="title") （撸撸王子）
                  p(class="user") 苍老师
                p(class="num") 2
            li(class="rank-list")
                .bd
                  p(class="title") （撸撸大师）
                  p(class="user") 思密达
                p(class="num") 3
    script.
      var qrcodedraw = new QRCodeLib.QRCodeDraw();
      var qrcode = document.querySelector('#qrcode');
      var progress = document.querySelector('#progress');
      var progress_val = document.querySelector('.progress-value');
      var underwear = document.querySelector('.icon-underwear');
      var clothes = document.querySelector('.icon-clothes');
      var pants = document.querySelector('.icon-pants');
      var clothesStep = 1, pantsStep = 1, underwearStep = 1;
      var ip = '#{ip}';
      var port = '#{port}';
      var game = ['http://', ip, ':', port, '/mobile'].join('');
      var socket;
      var gameover = false;
      var dialog = document.querySelector('.dialog');
      var rank = document.querySelector('.rank');
      var error = document.querySelector('.error');
      var list = document.querySelector('.rank-list');
      var lu_btn = document.querySelector('#lu-btn');
      var btn = document.getElementById('btn');

      qrcodedraw.draw(qrcode, game, function(err, canvas){
        if(err){
          console.log(err.message);
        } else {
          socket = io.connect(['http://', ip, ':', port].join(''));
          socket.on('connection', function (data) {
            console.log('connected');
            socket.emit('screen');
          });
          socket.on('click', function(data){
            if (progress.value == 0) {
              socket.emit('game over');
              return;
            }
            progress.value = --progress.value;
            progress_val.innerHTML = Math.ceil(progress.value / 2) + '%';

            var speed = 0.015, delta;
            if (clothesStep !== 0) {
              if (clothesStep < speed) {
                delta = speed - clothesStep;
                clothesStep = 0;
                pantsStep -= delta;
                clothes.style.opacity = '0';
                pants.style.opacity = pantsStep;
              } else {
                clothesStep -= speed;
                clothes.style.opacity = clothesStep;
              }
            }

            if (clothesStep == 0 && pantsStep !== 0) {
              if (pantsStep < speed ) {
                delta = speed - pantsStep;
                pantsStep = 0;
                underwearStep -= delta;
                pants.style.opacity = '0';
                underwear.style.opacity = underwearStep;
              } else {
                pantsStep -= speed;
                pants.style.opacity = pantsStep;
              }
            }

            if (pantsStep == 0 && underwearStep !== 0) {
              if (underwearStep < speed) {
                underwear.style.opacity = '0';
                underwearStep = 0;
              } else if (underwearStep > 0){
                underwearStep -= speed;
                underwear.style.opacity = underwearStep;
              }
            }
          });
          socket.on('game over', function(users){
            if (gameover) return;
            gameover = true;
            var dom = '', user;
            for (var i = 0;i < 3;i++) {
              var user = users[i];
              if (user) {
                dom += ('<li><span>' + user.name + '</span></li>');
              }
            }
            list.innerHTML = dom;
            dialog.style.display = 'block';
          });
        }
      });


      btn.addEventListener('click', function(e){
        e.stopPropagation();
        socket.emit('game start');
      }, false);
      lu_btn.addEventListener('click', function(e){
        e.stopPropagation();
        error.style.display = 'none';
        rank.style.display = 'block';
      }, false);
