doctype html
html
  head
    title
    link(rel="stylesheet", href="css/style.css")
    script(type="text/javascript", src="js/jquery-2.1.0.min.js")
    script(type="text/javascript", src="js/socket.io.min.js")
    script(type="text/javascript", src="js/qrcode.min.js")
  body
    p|game