doctype html
html
  head
    meta(charset="utf-8")
    title 撸一撸
    link(rel="stylesheet", href="http://g.tbcdn.cn/thx/cube/1.2.1/neat-min.css")
    link(rel="stylesheet", href="../css/base.css")
    link(rel="stylesheet", href="../css/fonts.css")
    link(rel="stylesheet", href="../css/screen.css")
    script(type="text/javascript", src="../js/socket.io.min.js")
    script(type="text/javascript", src="../js/qrcode.min.js")
  body
    main
      h1(class="title") 一起撸一撸
      .progress-box
        .progress-bar
          progress(id="progress" value="200" max="200")
        div(class="progress-value") 100%
      div(class="game-box")
        div.start-box
          canvas(id="qrcode")
          input(id="btn", class="btn-start" type="button", value="")
        div(id="J_game_canvas" class="game-canvas")
            .lulu
                .icon-body
                .icon-eye
                .icon-eye2
                .icon-nose
                .icon-hotdog
                <!-- 头发 -->
                .icon-hair
                <!-- 内衣 -->
                .icon-underwear
                <!-- 上衣 -->
                .icon-clothes
                <!-- 裤子 -->
                .icon-pants
    .dialog.over(style="display:none")
        h3 Game Over
        .error
           p
             img(src="../img/no.gif")
             服务器君被你们玩坏啦!
           <button class="btn">继续撸？</button>
           <button id="lu-btn" class="btn">看谁撸的最快？</button>
        .rank(style="display:none;")
          ol(class="")
    script.
      var qrcodedraw = new QRCodeLib.QRCodeDraw();
      var qrcode = document.querySelector('#qrcode');
      var main = document.querySelector('main');
      var progress = document.querySelector('#progress');
      var progress_val = document.querySelector('.progress-value');
      var underwear = document.querySelector('.icon-underwear');
      var clothes = document.querySelector('.icon-clothes');
      var pants = document.querySelector('.icon-pants');
      var dialog = document.querySelector('.dialog');
      var rank = document.querySelector('.rank');
      var error = document.querySelector('.error');
      var list = document.querySelector('.rank ol');
      var lu_btn = document.querySelector('#lu-btn');
      var btn = document.querySelector('#btn');
      var clothesStep = 1, pantsStep = 1, underwearStep = 1;
      var ip = '#{ip}';
      var port = '#{port}';
      var game = ['http://', ip, ':', port, '/mobile'].join('');
      var socket;
      var gameover = false;
      var max = progress.getAttribute('max');
      var left_persent = 0.1, left = 20, leftOpa = 0.5, opaSpeed;

      qrcodedraw.draw(qrcode, game, function(err, canvas){
        if(err){
          console.log(err.message);
        } else {
          socket = io.connect(['http://', ip, ':', port].join(''));
          socket.on('connection', function (data) {
            console.log('connected');
            socket.emit('screen');
          });
          socket.on('click', function(data){
            if (progress.value <= left) {
              socket.emit('game over');
              return;
            }
            if (progress.value <= max * 0.5) {
              if (!~main.className.indexOf('half'))
                main.className += ' half';
            }
            progress.value = --progress.value;
            progress_val.innerHTML = Math.ceil((progress.value / max) * 100) + '%';

            var speed = opaSpeed, delta;
            if (clothesStep !== 0) {
              if (clothesStep < speed) {
                delta = speed - clothesStep;
                clothesStep = 0;
                pantsStep -= delta;
                clothes.style.opacity = '0';
                pants.style.opacity = pantsStep;
              } else {
                clothesStep -= speed;
                clothes.style.opacity = clothesStep;
              }
            }

            if (clothesStep == 0 && pantsStep !== 0) {
              if (pantsStep < speed ) {
                delta = speed - pantsStep;
                pantsStep = 0;
                underwearStep -= delta;
                pants.style.opacity = '0';
                underwear.style.opacity = underwearStep;
              } else {
                pantsStep -= speed;
                pants.style.opacity = pantsStep;
              }
            }

            if (pantsStep == 0 && underwearStep !== 0) {
              if (underwearStep < speed) {
                underwear.style.opacity = '0';
                underwearStep = 0;
              } else if (underwearStep > 0){
                underwearStep -= speed;
                underwear.style.opacity = underwearStep;
              }
            }
          });

          socket.on('game start', function(data){
            // hide qrcode and btn
            var startBox = document.querySelector('.start-box');
            startBox.style.visibility = 'hidden';

            var totalCount = data.totalCount || 1;
            max = totalCount * 100;
            left = max * left_persent;
            opaSpeed = parseFloat(((3 - leftOpa)/(max - left)).toFixed(3));
            progress.value = max;
            progress.setAttribute('max', max);
            progress_val.innerHTML = '100%';
          });

          socket.on('game over', function(users){
            if (gameover) return;
            gameover = true;
            var dom = '', user, titles = ['', '（最快撸手）', '（撸撸王子）', '（撸撸大师）'];
            for (var i = 1;i <= 3;i++) {
              var user = users[i - 1];
              if (user) {
                dom += ('<li class="rank-list"><div class="bd">'
                        + '<p class="title">' + titles[i] + '</p>'
                        + '<p class="user">' + user.name + '</p>'
                        + '<p class="click">' + user.click + '</p>'
                        + '</div><p class="num">' + i + '</p></li>');
              }
            }
            list.innerHTML = dom;
            dialog.style.display = 'block';
          });
        }
      });


      btn.addEventListener('click', function(e){
        e.stopPropagation();
        socket.emit('game start');
      }, false);
      lu_btn.addEventListener('click', function(e){
        e.stopPropagation();
        error.style.display = 'none';
        rank.style.display = 'block';
      }, false);

      // 添加:active伪类
      document.addEventListener('touchstart', function(){}, false);
