doctype html
html
  head
    meta(charset="utf-8")
    title 美女 Lu lu 
    link(rel="stylesheet", href="http://g.tbcdn.cn/thx/cube/1.2.1/neat-min.css")
    link(rel="stylesheet", href="../css/base.css")
    link(rel="stylesheet", href="../css/fonts.css")
    link(rel="stylesheet", href="../css/screen.css")
    script(type="text/javascript", src="../js/socket.io.min.js")
    script(type="text/javascript", src="../js/qrcode.min.js")
  body
    main
      div(class="game-box")
        div.start-box  
          canvas(id="qrcode")
          input(id="btn", class="btn-start" type="button", value="开始游戏") 
        div(id="J_game_canvas" class="game-canvas")
            .lulu
                .icon-body
                .icon-eye
                .icon-eye2
                .icon-nose
                .icon-hotdog
                <!-- 头发 -->
                .icon-hair
                <!-- 内衣 -->
                .icon-underwear(style="color: rgba(148, 0, 83, 1);")
                <!-- 上衣 -->
                .icon-clothes(style="color: rgba(31, 27, 28, 1);")
                <!-- 裤子 -->
                .icon-pants(style="color: rgba(31, 27, 28, 1);")
        .progress-box
          div(class="progress-value") 60%
          .progress-bar
            progress(id="" value="60" max="100")   
    script.
      var qrcodedraw = new QRCodeLib.QRCodeDraw();
      var qrcode = document.getElementById('qrcode');
      var ip = '#{ip}';
      var port = '#{port}';
      var game = ['http://', ip, ':', port, '/mobile'].join('');
      var socket;

      qrcodedraw.draw(qrcode, game, function(err, canvas){
        if(err){
          console.log(err.message);
        } else {
          socket = io.connect(['http://', ip, ':', port].join(''));
          socket.on('connection', function (data) {
            console.log('connected');
            socket.emit('screen');
          });
          socket.on('click', function(data){
            console.log(data.totalClick);
          })
        }
      });

      var btn = document.getElementById('btn');
      btn.addEventListener('click', function(e){
        e.stopPropagation();
        socket.emit('game start');
      }, false);
