.DS_Store
node_modules
.npm-debug.log

#===vim===#
.*.sw[a-z]
*.un~
*.swp
*.swo
*.swn
.code_swarm*
*.orig
*.log

#===Windows===#
Thumbs.db 
Desktop.ini

#===TextMate===#
*.tmproj
*.tmproject
tmtags

#===svn===#
.svn/
