doctype html
html
  head
    title= title
  body
    form(method="post", action="/game")
      label.请输入用户名：
      input(type="text", name="user", placeholder="请输入用户名")
      input(type="submit", value="提交")