* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-size: 16px;
}

.btn-start {
    background: #568AD8;
    border: none;
    color: #FFF !important;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 0 12px;
    border-radius: 5px;
    -webkit-appearance: none;
    appearance: none;
}

.btn-lagrge {
    font-size: 32px;
    padding: 22px 12px;
}

/**
 * 修复 IE 移动端 300ms 延迟
 */
a[href], button, input {
    -ms-touch-action: manipulation; /* IE10  */
    touch-action: none; /* Chrome */
    touch-action: manipulation;     /* IE11+ */
} 


