
html{
    background: url(../img/bg-r.png) left 0 no-repeat,
                url(../img/bg-l.png) right 0 no-repeat #fff; 
    
}
main {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main .title {
    color: #396B8B;
    margin-top: 20px;
}

#qrcode {
    display: block;
    width: 300px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    margin-bottom: 5px;
}

.game-box {
    position: relative;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    background: url(../img/bg.png) 0 0 no-repeat;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.game-canvas {
    height: 100%;
    width: 80%;
    margin: auto;
    /*background-color: rgba(154, 154, 187, 0.8);*/
}


/* --------------------------------------------------------------------------
   进度条
   -------------------------------------------------------------------------- */

.progress-bar {
    /*padding: 0 15px;*/
    display: inline-block;
    width: 500px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    background-color: #fff;
    -webkit-box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .2);
    box-shadow:  0px 1px 2px 0px rgba(0, 0, 0, .2);
}
.progress-bar progress {
    vertical-align: top;
    background-color: #f3f3f3;
    border: 0;
    width: 100%;
    height: 36px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
}
.progress-bar progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    -webkit-border-radius: 18px;
    border-radius: 18px;
}
.progress-bar progress::-webkit-progress-value {
    background: -o-linear-gradient(top,  #5ACE56 0%,#3E8B3B 100%);
    background: -moz-linear-gradient(top, #5ACE56 0%, #3E8B3B 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#5ACE56), to(#3E8B3B));
    background: -webkit-linear-gradient(top, #5ACE56 0%, #3E8B3B 100%);
    background: linear-gradient(to bottom,  #5ACE56 0%, #3E8B3B 100%);
    -webkit-border-radius: 18px;
    border-radius: 18px;
}

/* 游戏到一半 */

.half .progress-bar progress::-webkit-progress-value {
    background: -moz-linear-gradient(top,  #D85757 0%, #CF2237 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D85757), color-stop(100%,#CF2237));
    background: -webkit-linear-gradient(top,  #D85757 0%,#CF2237 100%);
    background: -o-linear-gradient(top,  #D85757 0%,#CF2237 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#D85757), to(#CF2237));
    background: -webkit-linear-gradient(top, #D85757 0%, #CF2237 100%);
    background: linear-gradient(to bottom, #D85757 0%,#CF2237 100%);
}

.half .progress-box .progress-value {
    color: #DF5B31;
}

.progress-box {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 9;
}
.progress-box .progress-value {
    display: inline-block;
    width: 3em;
    padding: 0px 5px;
    color: #555;
    font-size: 50px;
    line-height: 1.2;
    vertical-align: -10px;
    color: #3C8A1F;
    font-family: Constantia, Georgia;
}

/**
 * 开始按钮
 */
.start-box {
    position: absolute;
    top: 50px;
    left: 130px;
    z-index: 99;
    background-color: #d40005;
    padding: 10px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
 }

.start-box:after {
     /*content: "";*/
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: #999;
 }

.start-box .btn-start {
    width: 100%;
    height: 120px;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-top: 10px;
    background: url(../img/btn-start.png) 50% 50% no-repeat;  
}

/* --------------------------------------------------------------------------
   lulu 美女
   -------------------------------------------------------------------------- */
.lulu {
    height: 100%;
    width: 100%;
    text-indent: -168px;
    /*background: url(../img/lulu-bg.png) 50% 0 no-repeat;*/
}

/* --------------------------------------------------------------------------
   弹出框
   -------------------------------------------------------------------------- */
.dialog {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
    padding: 20px 60px 50px 60px;
    border: 5px solid #96532F;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    background-color: #ffec6b;
    text-align: center;
}

.dialog h3 {
    font-size: 80px;
    text-align: center;
    color: #991d00;
    line-height: 1.1;
    font-weight: bold;
    text-transform: uppercase;
}

.dialog .error p {
    font-size: 26px;
    margin-top: 22px;
    margin-bottom: 22px;
}

.rank {
    text-align: left;
    margin-top: 150px;
    border-bottom: 3px solid #755E5E;
}

.rank ol{
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.rank .rank-list:nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    height: 130px;
}

.rank .rank-list:nth-child(2) {
    height: 80px;
}

.rank .rank-list:nth-child(3) {
    -webkit-box-ordinal-group: 4;
    -moz-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    height: 60px;
}

.rank li {
    /* 伸缩容器内的子元素如何分配空间 */
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #c53615;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #A22E2E;
    margin-left: -1px;
}


.rank .bd {
    margin-top: -130px;
    font-size: 22px;
    color: #962532;
}

.rank .bd p {
    line-height: 1.5;
}

.rank .user {
    font-size: 32px;
    color: #D52626;
    font-weight: bold;
}

.rank .num {
    font-size: 50px;
    color: #fff;
}

.rank .rank-list:nth-child(1) .num {
    font-size: 60px;
    margin-top: 20px;
}

.rank .rank-list:nth-child(2) .num {
    margin-top: 10px;
}

.rank .rank-list:nth-child(3) .num  {
    margin-top: 0;
}

.error p img{
    vertical-align: middle;
}
