html {
  background-color: #0C0C0C;
}
.control-box {

}
.paginate {
  position: relative;
  width: 100px;
  height: 600px;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 50%;
  margin-top: -300px;
}
.paginate i {
  position: absolute;
  top: 40%;
  left: 0;
  width: 50px;
  height: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease; 
}
.paginate.left {
  right: 58%; 
}
.paginate.left i {
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  -o-transform-origin: 0% 50%;
  transform-origin: 0% 50%; 
}

.paginate.left i:first-child {
  -webkit-transform: translate(0, -1px) rotate(40deg);
  -moz-transform: translate(0, -1px) rotate(40deg);
  -ms-transform: translate(0, -1px) rotate(40deg);
  -o-transform: translate(0, -1px) rotate(40deg);
  transform: translate(0, -1px) rotate(40deg); 
}

.paginate.left i:last-child {
  -webkit-transform: translate(0, 1px) rotate(-40deg);
  -moz-transform: translate(0, 1px) rotate(-40deg);
  -ms-transform: translate(0, 1px) rotate(-40deg);
  -o-transform: translate(0, 1px) rotate(-40deg);
  transform: translate(0, 1px) rotate(-40deg); 
}

.paginate.left:active i:first-child {
  -webkit-transform: translate(1px, -1px) rotate(25deg);
  -moz-transform: translate(1px, -1px) rotate(25deg);
  -ms-transform: translate(1px, -1px) rotate(25deg);
  -o-transform: translate(1px, -1px) rotate(25deg);
  transform: translate(1px, -1px) rotate(25deg); 
}
.paginate.left:active i:last-child {
  -webkit-transform: translate(1px, 1px) rotate(-25deg);
  -moz-transform: translate(1px, 1px) rotate(-25deg);
  -ms-transform: translate(1px, 1px) rotate(-25deg);
  -o-transform: translate(1px, 1px) rotate(-25deg);
  transform: translate(1px, 1px) rotate(-25deg); 
}

.paginate.right {
  left: 58%; 
}
.paginate.right i {
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%; 
}
.paginate.right i:first-child {
  -webkit-transform: translate(0, 1px) rotate(40deg);
  -moz-transform: translate(0, 1px) rotate(40deg);
  -ms-transform: translate(0, 1px) rotate(40deg);
  -o-transform: translate(0, 1px) rotate(40deg);
  transform: translate(0, 1px) rotate(40deg); 
}
.paginate.right i:last-child {
  -webkit-transform: translate(0, -1px) rotate(-40deg);
  -moz-transform: translate(0, -1px) rotate(-40deg);
  -ms-transform: translate(0, -1px) rotate(-40deg);
  -o-transform: translate(0, -1px) rotate(-40deg);
  transform: translate(0, -1px) rotate(-40deg); 
}

.paginate.right:active i:first-child {
  -webkit-transform: translate(1px, 1px) rotate(25deg);
  -moz-transform: translate(1px, 1px) rotate(25deg);
  -ms-transform: translate(1px, 1px) rotate(25deg);
  -o-transform: translate(1px, 1px) rotate(25deg);
  transform: translate(1px, 1px) rotate(25deg); 
}
.paginate.right:active i:last-child {
  -webkit-transform: translate(1px, -1px) rotate(-25deg);
  -moz-transform: translate(1px, -1px) rotate(-25deg);
  -ms-transform: translate(1px, -1px) rotate(-25deg);
  -o-transform: translate(1px, -1px) rotate(-25deg);
  transform: translate(1px, -1px) rotate(-25deg); 
}

