*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-ms-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  font: 16px Arial, sans-serif;
  text-align: center;
  background-color: #597186;
}


a {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(8, 38, 51, 0.8);
}

a:active{
    color: #EBBFA5;
}

#animate{
    display: block;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    padding:60px 0;
}

#animate img{
    display: block;
    margin: 20px auto 0;
    vertical-align: middle;
    max-width: 100%;
    width: 50%;
}

#animate:hover{
    
}
